* {
  background-color: #001233;
  font-family: 'Inter', sans-serif;
  font-weight: 100;
}

.home {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 75vh;
  gap: 10%;
  clear:both;
}

.home > div {
  margin: 10px;
  padding: 20px;
  font-size: 50px;
  max-width: 500px;	
  color: #E4E8F0;

}
div > #pic {
  width: auto;
  height : auto;
  max-height: 70%;
  max-width: 70%;
}

.temp {
  display: flex;
  flex: 0 1 50%;
  justify-content: center;
  align-items: center;
}

.text2 {
  flex: 0 1 50%;
}

.mb {
  min-width: 413.594px;
  min-height: 298.109px;
}


.home2 {
  display: flex;
  gap:  10px;
  color:  #42ACF9;
  overflow: hidden;
}

.home2 > div {
  margin: 10px;
  padding: 20px;
  font-size: 50px;
  max-width: 450px;

}
a {
  margin-top: -10px;
}
p {
  max-width: 750px;
}

.resume {
  color: #E4E8F0;
  font-weight: bold;
  font-size: 20px;
}
h1 {
  max-width: 850px;
  text-align: left;
  font-size: 45px;
  font-weight: bold;
}






header {
  justify-content: space-between;
  align-items: center;
  display: flex;
  padding: 30px;
  float: right;
}

.header {
  text-align: center;
  color: #CCD1DC;
  font-size: 80px;
  font-weight: 550;
}

.project1 {
  color: #CCD1DC;
  font-size: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0%;
  min-height: 75vh;
}



.head {
  color: #42ACF9;
  font-size: 50px;
  font-weight: 550;


}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
}


@media (max-width: 1100px) {
  
  h1 {
    font-size: 40px;
  }
  .home {
    flex-direction: column;
  }
  .project1 {
    flex-direction: column;
    min-height: 75vh;
  }

  .temp {
    order: 2;
  }
  .text {
    order: 1;

  }

  .head {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
  }

  p {
    margin-left: 0%;
    margin: 5%;
    font-size: 28px
  }
}


@media (max-width: 620px) {

    .head {
      font-size: 30px;
    }
    .mb {
      min-width: 70%;
      min-height: 70%;
    }

    h1 {
      font-size: 28px;
    }

    p {
      font-size: 20px;
    }

    .temp {
    width: 115%;
    height: 115%;
    }

    .header {
      font-size: 65px;
    }
}



@media (max-width: 400px) {


}
